<div class="popUp">
  <form action="/login-student" method="POST" class="login-form">
    <label>Username</label>
    <input type="text" name="username" required/>

    <label>Password</label>
    <input type="password" name="password" required/>
    <br>
    <div class="button-login">
    <button type="submit">Login</button>
    </div>
  </form>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  <br>
  <p>Don't have an account? Signup <a href="/signup-student">here</a></p>
</div>
