    <input type="hidden" id="anPageName" name="page" value="signup-student" />
    <form class="signup-student screen" name="form3" action="/signup-student" method="post">
      <div class="frame-356-WcrAH8">
        <img class="ellipse-20-Nx3N5U" src="img/ellipse-20@2x.png" /><img
          class="ellipse-21-Nx3N5U"
          src="img/ellipse-21@2x.png"
        />
      </div>
      
      <div class="complete-signup-student-WcrAH8">
        <div class="rectangle-108-ZAqdUl signup-up"></div>
      
        <div class="components-checkbox-inactive-ZAqdUl"></div>
        <div class="group-517-ZAqdUl">
          
        </div>
        <div class="sign-up-ZAqdUl playfairdisplay-bold-shark-20px">Sign up</div>
        <p class="use-at-least-on-and-one-symbol-ZAqdUl playfairdisplay-normal-black-12px">
          Use at least on character and one symbol
        </p>
        {{!-- <input
          class="upload-photo-ZAqdUl playfairdisplay-normal-black-16px"
          name="imageUrl"
          placeholder="Upload Image"
          type="file"
        /> --}}
        <div class="from-group-ZAqdUl">
          <div class="email-form-kgoDgP">
            <div class="rectangle-109-xcQbdw border-1px-black-2"></div>
            <input
              class="email-xcQbdw playfairdisplay-normal-black-16px"
              name="email"
              placeholder="Email"
              type="text"
            />
          </div>
            <div class="frame-20-kgoDgP smart-layers-pointers btn-signup">
              <div class="agree-and-sign-up-RGbFQd manrope-bold-white-16px btn-sig">
                <button type="submit">
                  Agree and Sign up
                </button>
              </div>
            </div>
          <div class="name-form-kgoDgP">
            <div class="rectangle-111-IdktWz border-1px-black-2"></div>
            <input class="name-IdktWz playfairdisplay-normal-black-16px" name="username" placeholder="Username" type="text" />
          </div>
          <div class="password-form-kgoDgP border-1px-black-2">
            <div class="group-515-ZNR20H">
              <input
                class="password-yPiISK playfairdisplay-normal-black-16px"
                name="password"
                placeholder="Password"
                type="password"
              />
            </div>
            {{!-- <div class="icons24px-eye-ZNR20H">
              <div class="ic-remove-red-eye-24px-nxWBsR"><img class="shape-Huexxf" src="img/shape@2x.png" /></div>
            </div> --}}
          </div>
          <div class="upload-image-button-kgoDgP">
            <div class="button-add-nrQtuT">
              <input type="file" name="imageUrl">
              {{!-- <img class="add-class-fk0HZ8 smart-layers-pointers" src="img/add-class@2x.png" /> --}}
            </div>
          </div>
        </div>
      </div>
    </form>