<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://animaproject.s3.amazonaws.com/home/favicon.png"
    />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="/css/01.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #141616">
    <input type="hidden" id="anPageName" name="page" value="01" />
    <div class="x01 screen">
      <div class="rectangle-287-UxIqrW"></div>
      <div class="group-300-UxIqrW">
        <iframe
          style="border: 0; pointer-events: auto"
          id="ytplayer"
          type="text/html"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/v8a2eQ8Zf4Y?rel=0&autoplay=1"
          frameborder="0"
          allowfullscreen="allowfullscreen"
          mozallowfullscreen="mozallowfullscreen"
          msallowfullscreen="msallowfullscreen"
          oallowfullscreen="oallowfullscreen"
          webkitallowfullscreen="webkitallowfullscreen"
        ></iframe>
      </div>
      <div class="frame-2-UxIqrW smart-layers-pointers">
        <div class="become-a-student-iHeImT"> <a href="/signup-student">Become a Student</a></div>
      </div>
      <div class="frame-30-UxIqrW smart-layers-pointers">
        <div class="become-a-teacher-r7XLmr"><a href="/signup-teacher">Become a Teacher</a></div>
      </div>
        <div class="frame-334-UxIqrW">
          <div class="frame-333-myuIt9">
            <div class="group-301-p62cg2">
              <div class="group-292-M9WXr4">
                <div class="rectangle-8-kpTK5L border-1px-white"></div>
                <div class="frame-16-kpTK5L">
                  <div class="group-251-eYkcwL">
                    <div class="group-120-u3arvF">
                      <div class="group-112-J4GldP">
                        <img
                          class="vector-JdQlxx"
                          src="img/vector-5@2x.png"
                        /><img class="vector-Y9v8rA" src="img/vector-6@2x.png" />
                      </div>
                    </div>
                  </div>
                  <form action="/search" method="GET">
                  <input
                    class="
                      what-do-you-wan-to-learn-today-eYkcwL
                      playfairdisplay-normal-delta-16px
                    "
                    name="title"
                    placeholder="What do you want to learn today?"
                    type="text"
                  />
                  </form>
                </div>
              </div>
            </div>
          <div class="group-115-p62cg2">
            <img class="vector-be8OxC" src="img/vector-7@2x.png" /><img
              class="vector-zMYxN2"
              src="img/vector-7@2x.png"
            /><img class="vector-M8vShu" src="img/vector-9@2x.png" />
          </div>
          <a href="/login">
            <div class="user-p62cg2">
              <img class="vector-DWCqrq" src="img/vector-10@2x.png" /><img
                class="vector-Ha8xMx"
                src="img/vector-11@2x.png"
              />
            </div>
          </a>
        </div>
      </div>
      <div class="frame-345-UxIqrW">
        <a href="/">
        <img class="rectangle-140-gqrss8" src="img/rectangle-140@2x.png" />
        </a>
        <div class="frame-337-gqrss8">
          <div
            class="
              categories-RayZU3
              smart-layers-pointers
              playfairdisplay-normal-white-16px
            "
          ><a href="/classes">          
            Categories
          </a>
          </div>
          <div
            class="
              teachers-RayZU3
              smart-layers-pointers
              playfairdisplay-normal-white-16px
            "
          > <a href="/teachers">          
            Teachers
          </a>
          </div>
          <div
            class="
              instruments-RayZU3
              smart-layers-pointers
              playfairdisplay-normal-white-16px
            "
          >
            Instruments
          </div>
        </div>
      </div>
      <img class="line-53-UxIqrW" src="img/line-53@1x.png" />
    </div>
  </body>
</html>
