<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/01.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #262626">
    <input type="hidden" id="anPageName" name="page" value="footer" />
    <div class="footer screen">
      <div class="footer-background-color-OpYFEQ"></div>
      <div class="registo-marca-footer-OpYFEQ"><div class="musicorum-2021-VeQGn1">© Musicorum 2021</div></div>
      <div class="categorias-footer-OpYFEQ">
        <div class="group-206-D6atBk">
          <div class="for-students-SiBJct playfairdisplay-bold-white-18px">For Students</div>
          <div class="students-faq-SiBJct manrope-normal-white-14px">Students Faq</div>
          <div class="gift-card-SiBJct manrope-normal-white-14px">Gift Card</div>
        </div>
        <div class="group-205-D6atBk">
          <div class="for-teachers-FhKgCF playfairdisplay-bold-white-18px">For teachers</div>
          <div class="terms-and-conditions-FhKgCF manrope-normal-white-14px">Terms and Conditions</div>
          <div class="sellers-faq-FhKgCF manrope-normal-white-14px">Sellers Faq</div>
          <div class="how-to-sell-FhKgCF manrope-normal-white-14px">How to Sell</div>
        </div>
        <div class="group-204-D6atBk">
          <div class="about-us-QxQr1H playfairdisplay-bold-white-18px">About Us</div>
          <div class="about-us-xEDjf3 manrope-normal-white-14px">About Us</div>
          <div class="press-QxQr1H manrope-normal-white-14px">Press</div>
          <div class="affiliates-QxQr1H manrope-normal-white-14px">Affiliates</div>
        </div>
        <div class="group-207-D6atBk">
          <div class="top-categories-ucallr playfairdisplay-bold-white-18px">Top Categories</div>
          <div class="guitar-ucallr manrope-normal-white-14px">Guitar</div>
          <div class="drums-ucallr manrope-normal-white-14px">Drums</div>
          <div class="piano-ucallr manrope-normal-white-14px">Piano</div>
        </div>
      </div>
      <div class="frame-footer-icons-OpYFEQ">
        <div class="footer-icons-group-GWI0ft">
          <div class="facebook-icon-dJH0wx">
            <img class="facebook-icon-footer-OTbdFk" src="img/facebook-icon-footer@2x.png" />
          </div>
          <div class="instagram-icon-dJH0wx">
            <img class="instagram-icon-footer-S0S0jP" src="img/instagram-icon-footer@2x.png" />
          </div>
          <div class="twiiter-icon-dJH0wx">
            <img class="twitter-icon-footer-7qkrV0" src="img/twitter-icon-footer@2x.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
