    <input type="hidden" id="anPageName" name="page" value="teacher-home-desktop" />
    <div class="teacher-home-desktop screen">
      <div class="rectangle-287-nfp9la"></div>
      <div class="youtubevideohero-nfp9la">
        <iframe
          style="border: 0; pointer-events: auto"
          id="ytplayer"
          type="text/html"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/v8a2eQ8Zf4Y?rel=0&autoplay=1"
          frameborder="0"
          allowfullscreen="allowfullscreen"
          mozallowfullscreen="mozallowfullscreen"
          msallowfullscreen="msallowfullscreen"
          oallowfullscreen="oallowfullscreen"
          webkitallowfullscreen="webkitallowfullscreen"
        ></iframe>
      </div>
      <div class="frame-345-nfp9la">
        <a href="/">
          <img class="logo-ADDDp1" src="img/rectangle-140@2x.png" />
        </a>
        <div class="frame-337-ADDDp1">
          <div class="categories-bqxkKU smart-layers-pointers playfairdisplay-normal-white-16px"><a href="/classes">Categories</a></div>
          <div class="teachers-bqxkKU smart-layers-pointers playfairdisplay-normal-white-16px"><a href="/teachers">Teachers</a></div>
          <div class="instruments-bqxkKU smart-layers-pointers playfairdisplay-normal-white-16px">
            <div class=“dropdown_instruments”>
                <h2>Instuments</h2>
                <ul>
                    <li><a href=“#”>Guitar</a></li>
                    <li><a href=“#”>Drums</a></li>
                    <li><a href=“#”>Bass</a></li>
                    <li><a href=“#”>Piano</a></li>
                </ul>
            </div>
          </div>
          
        </div>
      </div>
      <div class="pesquisacompletanavbar-nfp9la">
        <div class="searchbar-yK3YxJ">
          <div class="group-292-dGZSb1">
            <div class="rectangle-8-5QWjhz border-1px-white"></div>
            <div class="frame-16-5QWjhz">
              <div class="iconsearch-KOSCQa">
                <div class="group-120-pFSMhb">
                  <div class="group-112-2SfmuN">
                    <img class="vector-EtmMiy" src="img/vector-5@2x.png" /><img
                      class="vector-WDIpdS"
                      src="img/vector-6@2x.png"
                    />
                  </div>
                </div>
              </div>
              <form action="/search" method="GET">
                <input
                  class="what-do-you-wan-to-learn-today-KOSCQa playfairdisplay-normal-delta-16px"
                  name="whatdoyouwanttolearntoday"
                  placeholder="What do you want to learn today?"
                  type="text"
                />
              </form>
            </div>
          </div>
        </div>
        <div class="iconshoppingcart-yK3YxJ">
          <img class="vector-tfbOtx" src="img/vector-7@2x.png" /><img
            class="vector-REGxGr"
            src="img/vector-7@2x.png"
          /><img class="vector-d76RFT" src="img/vector-9@2x.png" />
        </div>
          <div class="class-user">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/img/youtube-video-hero-1@1x.png">
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/classes">My Classes</a></li>
                <li><a class="dropdown-item" href="/create-class">Create Class</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
        </div>
      </div>
    </div>
