{{!-- <div class="container">

  <div class="row class-items">
    {{#each teachers}}
      <div class="card mb-3" style="max-width: 240px;">
      <img src="{{image_url}}" class="card-img-top"/>
      <br>
          <h5 class="card-title">{{username}}</h5>
          <p class="card-text"><small class="text-muted">{{instrument}}</small></p>
          <p class="card-text">{{description}}</p>
      </div>
    {{/each}}
    
  </div>
</div> --}}