body {
  max-width: 100%;
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logo{
  width: 50px;
}

.nav{
  margin-top: 0px !important;
  width: 1280px !important;
}

.nav2{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: space-around !important;
  align-items: baseline !important;
  align-content: space-around !important;
}

.home{
  background-image: url("../images/bg-home.jpeg");
  height: 600px;
  color: #FFFFFF;
  background-size: 100%;
}

.btn-form{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.btn-student{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 49px;
  width: 256px;
  height: 44px;
  left: 443px;
  top: 460px;
  background: #F2751A;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 12px;
}

.btn-student, .btn-teacher {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  color: #FFFFFF;
}

.btn-student button, .btn-student button:visited, .btn-student button:hover, .btn-student button:active, .btn-student button::selection{
  text-decoration: none;
  border-style: none;

}

.btn-teacher{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 49px;
  width: 256px;
  height: 44px;
  left: 443px;
  top: 460px;
  background: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 12px;
}




.login{
  z-index: 1;
  color: black !important;
  margin-top: -60px;
  margin-right: -40px;
  position: relative;
  float: right !important;
  background-color: transparent;
}

.popUp{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  padding: 15px;
  border: solid;
  line-height: 1.5;
}

.login-form{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.login-form button{
  padding: 10px 49px;
  width: 256px;
  height: 44px;
  left: 443px;
  top: 460px;
  background: #F2751A;
  box-sizing: border-box;
  border-radius: 12px;
}

.button-login{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.car{
  margin-right: 20px;
}