<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/01.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="video-lesson" />
    <div class="video-lesson screen">
      <div class="titulo-781fxs">
        <div class="learn-how-to-pl-e-in-every-tons-zw9ccC">Learn how to play a chromatic scale in every tons</div>
        <div class="by-gabriel-santos-zw9ccC">By Gabriel Santos</div>
      </div>
      <div class="about-class-781fxs">
        <div class="about-the-class-xaWGhO playfairdisplay-bold-black-16px">About the class</div>
        <p class="my-network-seri-a-multicoloured-xaWGhO">
          My Network series began several years ago and I haven&#39;t revisited it until the last year. This series uses
          criss-crossing lines against a plain background or white lines onto a multicoloured...
        </p>
      </div>
      <img class="line-52-781fxs" src="img/line-52@1x.png" />
      <div class="card-about-teacher-781fxs">
        <div class="rectangle-88-TRcrkb border-1px-black-4"></div>
        <div class="portugal-TRcrkb">Portugal</div>
        <h1 class="title-TRcrkb">Gabriel Santos</h1>
        <div class="imagem-professor-TRcrkb"><img class="ellipse-15-DxJeyI" src="img/ellipse-15@2x.png" /></div>
        <p class="i-studied-at-ca-lived-in-london-TRcrkb">
          I studied at Camberwell School of Art London, at that time largely known for producing figurative painterly
          artists. However, I was influenced by abstract painters, and moved away from the figure. My art developed into
          large-scale painterly figurative based abstract painting, using oil on canvas, always more tonal than
          colourist. Having always lived in London,
        </p>
      </div>
      <img class="line-43-781fxs" src="img/line-52@1x.png" />
      <div class="youtubevideohero-781fxs">
        <iframe
          style="border: 0; pointer-events: auto"
          id="ytplayer"
          type="text/html"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/v8a2eQ8Zf4Y?rel=0&autoplay=1"
          frameborder="0"
          allowfullscreen="allowfullscreen"
          mozallowfullscreen="mozallowfullscreen"
          msallowfullscreen="msallowfullscreen"
          oallowfullscreen="oallowfullscreen"
          webkitallowfullscreen="webkitallowfullscreen"
        ></iframe>
      </div>
      <div class="card-fix-position-781fxs">
        <div class="background-card-OjMsWv">
          <div class="rectangle-95-YtObVd border-1px-black-4"></div>
        </div>
        <div class="button-add-favorites-OjMsWv smart-layers-pointers">
          <div class="group-321-mJvaxa"><div class="add-to-favourites-HtYLpE">Add to favourites</div></div>
        </div>
        <div class="button-add-card-OjMsWv smart-layers-pointers">
          <div class="add-to-cart-nDrNHF">Add to cart</div>
        </div>
        <div class="x128-OjMsWv">$12,8</div>
        <div class="rating-48-stars-OjMsWv playfairdisplay-bold-black-16px">
          <span class="span0-WNXWI8 playfairdisplay-bold-black-16px">Rating</span
          ><span class="span1-WNXWI8 playfairdisplay-normal-black-16px-2">: 4.8 Stars</span>
        </div>
        <div class="audio-portuguese-OjMsWv playfairdisplay-bold-black-16px">
          <span class="span0-xxInsu playfairdisplay-bold-black-16px">Audio:</span
          ><span class="span1-xxInsu playfairdisplay-normal-black-16px-2"> portuguese</span>
        </div>
        <div class="subtitles-spani-tuguese-english-OjMsWv playfairdisplay-bold-black-16px">
          <span class="span0-tSkxc6 playfairdisplay-bold-black-16px">Subtitles:</span
          ><span class="span1-tSkxc6 playfairdisplay-normal-black-16px-2"> Spanish, Portuguese, <br />English</span>
        </div>
        <div class="level-beginner-OjMsWv playfairdisplay-bold-black-16px">
          <span class="span0-kYJhAN playfairdisplay-bold-black-16px">Level: </span
          ><span class="span1-kYJhAN playfairdisplay-normal-black-16px-2">beginner</span>
        </div>
        <div class="purchase-details-OjMsWv">Purchase Details</div>
      </div>
    </div>
  </body>
</html>
